.popup__form-input{
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 36px;
    margin-right: 36px;
    min-height: 27px;
    min-width: 358px;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}