@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);




.page {
    max-width: 1280px;
    min-width: 320px;
    background-color: #000000;
    font-family: 'Inter', sans-serif;
}
.header{
    min-height: 74px;
    max-width: 880px;
    min-width: 320px;
}
.header__logo{
    padding: 45px 0 0 0;
    max-width: 142px;
    max-height: 33px;
}
.header__line{
    max-width: 100%;
}



.button{
    background-color: #000000;
    transition: ease .6s;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
}
.button:hover{
    opacity: .6;

}

.main{
    max-width: 880px;
    min-width: 320px;
}

.profile{
    max-height: 120px;
    display: flex;
    padding: 40px 0 51px 0;
    align-items: center;
    justify-content: space-between;
}

.profile__avatar-image{
    max-width: 168px;
    max-height: 120px;
    border-radius: 100px;
}

.profile__avatar{
    margin: 0 30px 0 0;
}
.profile__info{
    display: flex;
}
.profile__info-heading{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    margin: 0;
    text-align: center;
    margin: 22px 0 0 0;
}
.profile__info-subheading{
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 0 0;
    text-align: start;
}
.profile__info-button{
    height: 24px;
    width: 24px;
    background-image: url(../images/Edit-Button.svg);
    margin: 37px 0 18px 18px;
}
.profile__add-button{
    width: 150px;
    height: 50px;
    background-image: url(../images/add_button.svg);
    
}
.photo-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 17px;
    row-gap: 20px;
    max-width: 880px;
}
.card{
    max-width: 282px;
    max-height: 361px;
}
.card__picture{
    max-height: 282px;
    max-width: 282px;
    border-radius: 10px 10px 0 0;
}
.card__content{
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px;
}
.card__description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.card__text{

}
.card__like{
    width: 22px;
    height: 19px;
    margin: 31px 30px 30px 0;
}
.card__like_disabled{
    background: url(../images/like-button_disabled.svg) no-repeat center;
}


.footer{
    max-width: 880px;
    min-width: 320px;
    padding: 67px 0 60px 0;
}
.footer__copyright{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;

}
.center{
    margin:0 auto;
}
