.form__submit-button{
    min-width: 350px;
    min-height: 50px;
    margin: auto;
    background-color: #000;
    color: #fff;
    text-align: center;
}
@media screen and (max-width:500px) {
    .form__submit-button{
        min-width: 238px;
        min-height: 46px;
        margin: 15px 0 0 0;
        font-size: 14px;
        line-height: 17px;
    }
}