.form-card{
    width: 430px;
    min-height: 330px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

@media screen and (max-width:500px) {
    .form-card{
        width: 282px;
        height: 322px;
    }
}