.profile__info_content_heading{
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 22px 0 16px 0;
    max-width: 294px;
    text-align: start;
}
@media screen and (max-width: 500px){
    .profile__info_content_heading{
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin: 0 0 14px 0;
    }
}