.profile__add-button{
    min-width: 150px;
    min-height: 50px;
    background: url(../../../images/add_button.svg) no-repeat center;
}

@media screen and (max-width:928px) {
    .profile__add-button{
        margin: 0 27px 0 0;
    }
}

@media screen and (max-width:734px) {
    .profile__add-button{
        min-width: 282px;
        background: url(../../../images/add__button_width.svg) no-repeat center;
        margin:36px 0 0 0;
    }
}