.profile__info-content{
    max-width: 336px;
    position: relative;
    align-self: flex-start;
}

@media screen and (max-width:734px) {
    .profile__info-content{
        flex-direction: column;
        align-self: center;
    }
}
