.card__picture{
    width: 282px;
    min-height: 282px;
    max-height: 282px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    opacity: 1;
    transition: all .3s ease-in-out;
    z-index: 0;
}
.card__picture:hover{
    opacity: .7;
    transition: all .3s ease-in-out;
}