.close-btn{
    background:url(../../images/popup__close-button.svg) center;
    width: 24px;
    height: 24px;
}
@media screen and (max-width:500px) {
    .close-btn{
        width: 20px;
        height: 20px;
    }
}