.form-profile__close-button{
    background: url(../../../images/popup__close-button.svg) center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -24px;
    right: -24px;
}
@media screen and (max-width:500px) {
    .form-profile__close-button{
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}